.body{
    font-size: 14px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

h1 {
    display: inline;
}

.card {
    font-size: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2px 16px;
    margin: 4px;
    border: solid black 1px;
}

.card-text-bottom{
    float: bottom;
}

img {
    float: right;
}


/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.split {
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 85px;
}

.left {
    left: 0;
}

.right {
    right: -45%;
    padding-top: 15px;
}
.bottom{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: solid black 1px;
}